* {margin:0; padding: 0;}
    .container{
        background: #fff;
        width: 795px;
        height: auto;
        padding: 10px 5px;
        margin: auto;
    }
    .banner-sec{
        
        width: 253px;
        height: auto;
        margin-left: 15px;
        color:#fff;
        padding: 15px 190px 10px 10px;
        margin-left: 15px;
    }
    .wrapper{width: 100%;}
    .margin-bt{margin-bottom: 10px;}
      